<section class="hero-wrap hero-wrap-2 ftco-degree-bg js-fullheight" id="one" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="overlay-2"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center"
            style="height: 570px;">
            <div class="col-md-9 ftco-animate pb-5 mb-5 text-center fadeInUp ftco-animated">
                <h1 class="mb-3 bread">Contact Us</h1>
               
            </div>
        </div>
    </div>
</section>

<section class="ftco-section contact-section">
    <div class="container">
        <div class="row d-flex mb-5 contact-info justify-content-center">
            <div class="col-md-8">
                <div class="row mb-5">
                    <div class="col-md-4 text-center py-4">
                        <div class="icon mb-3 d-flex align-items-center justify-content-center">
                            <span class="icon-map-o"></span>
                        </div>
                        <p><span>Address:</span>Indian Airways Whitefield, Bangalore</p>
                    </div>
                    <div class="col-md-4 text-center py-4">
                        <div class="icon mb-3 d-flex align-items-center justify-content-center">
                            <span class="icon-mobile-phone"></span>
                        </div>
                        <p><span>Phone:</span> <a href="tel://1234567920">1800-80-80-8000</a></p>
                    </div>
                    <div class="col-md-4 text-center py-4">
                        <div class="icon mb-3 d-flex align-items-center justify-content-center">
                            <span class="icon-envelope-o"></span>
                        </div>
                        <p><span>Email:</span> <a href="mailto:info@yoursite.com">info@indianairways.com</a></p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>