body {
    background-image: url("https://www.tzell.com/-/media/Tzell/Banners/TzellBanner_MobileHome.ashx?mh=2500&mw=2500&hash=B2F4D3013125882C27269C4E263CE97927C7E6A3");
     background-position: 0rem; 
  background-repeat: no-repeat; 
  background-size: cover;
}
