<html lang="en">
    <body>

        
        <header>
         
          
          <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
            <div class="container">
              
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              
            </div>
          </nav>
          
          <div class="view" style="background-image: url('https://i.pinimg.com/originals/de/41/53/de415334320dd313b583016db0352e93.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">

           
            <div class="mask rgba-gradient align-items-center">
             
              <div class="container">
               
                <div class="row">
                 
                  <div class="col-md-6 white-text text-center text-md-left mt-xl-5 mb-5 wow fadeInLeft" data-wow-delay="0.3s">
                    <h1 class="h1-responsive font-weight-bold mt-sm-5">Make your Journey Memorable roam around the world </h1>
                    <hr class="hr-light">
                    <h6 class="mb-4">Flying, like life, is full of precluded possibilities......
                    </h6>
                    
                  </div>
                 
                </div>
                
              </div>
              
            </div>
           
          </div>
         
        </header>
      
        <main>
          <div class="container">
           
            <div class="row py-5">
           
              <section class="jumbotron text-center">
                <div class="container">
                  <h1>IndianAirways</h1>
                  <p class="lead text-muted">If you are planning a long trip somewhere, you could drive your car, ride a train or take a boat, but the odds are you'll be flying. Airplanes give us the ability to travel long distances in only a fraction of the time it would take by other forms of tran­sportation. If you are travelling by air, you will almost certainly have to fly on one of the commercial airlines that has flights to your chosen destination.</p>
            
                </div>
              </section>
              
            </div>
           
          </div>
        </main>
       
    </body>

</html>





<!-- <body>
    <header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-muted">The origins of flight date back to 400 B.C., when the Chinese invented the kite, which was used not only for fun but also to test the weather, and for later development of balloons and gliders. In the 1480s, Leonardo da Vinci was fascinated by the thought of flight and drew pictures and designs of his theories of flight and flying machines. The first recorded flight was in 1783, when two French inventors flew the first hot air balloon, and the Wright brothers successfully flew the first airplane in 1903.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Follow on Twitter</a></li>
            <li><a href="#" class="text-white">Like on Facebook</a></li>
            <li><a href="#" class="text-white">Email me</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-primary shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="mr-2" viewBox="0 0 24 24" focusable="false"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
        <strong>Travel Around World</strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1>IndianAirways</h1>
      <p class="lead text-muted">If you are planning a long trip somewhere, you could drive your car, ride a train or take a boat, but the odds are you'll be flying. Airplanes give us the ability to travel long distances in only a fraction of the time it would take by other forms of tran­sportation. If you are travelling by air, you will almost certainly have to fly on one of the commercial airlines that has flights to your chosen destination.</p>

    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://cdn.pixabay.com/photo/2015/09/09/21/31/luggage-933487__340.jpg" style="height: 200px;">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://cdn.pixabay.com/photo/2016/11/08/05/01/airline-1807486__340.jpg" style="height: 200px;">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://cdn.pixabay.com/photo/2017/06/05/11/01/airport-2373727__340.jpg" style="height: 200px;">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                 
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://cdn.pixabay.com/photo/2017/05/12/13/17/night-flight-2307018__340.jpg" style="height: 200px;">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://cdn.pixabay.com/photo/2017/09/09/19/00/passport-2733068__340.jpg" style="height: 200px;">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                 
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://cdn.pixabay.com/photo/2015/01/09/15/13/escalators-594463__340.jpg" style="height: 200px;">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://cdn.pixabay.com/photo/2012/02/29/16/14/passenger-plane-19469__340.jpg" style="height: 200px;">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                 
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://cdn.pixabay.com/photo/2014/03/11/23/00/airport-285592__340.jpg" style="height: 200px;">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://cdn.pixabay.com/photo/2016/07/13/20/40/airport-1515431__340.jpg" style="height: 200px;">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>


</body> -->
