<body>
    <div class="container">
        <div class="row">
            <div class="card col-md-8 col-4 col-sm-4 col-lg-4 offset-3 mt-5">
                <div class="card-body">
                    <form #searchForm="ngForm" (ngSubmit)="searchLocation(searchForm)">
                        <div class="form-group">
                            <label for="inputDeparture City">From</label>
                            <select id="inputDeparture City" class="form-control" name="departureCity"
                                #departureCity='ngModel' ngModel>
                                <option selected></option>
                                <option value="Mumbai">Mumbai</option>
                                <option value="Pune">Pune</option>
                                <option value="Bangalore">Bangalore</option>
                                <option value="Delhi">Delhi</option>
                                <option value="Visakhapatnam">Visakhapatnam</option>
                                <option value="Hyderabad">Hyderabad</option>
                                <option value="Kolkata">Kolkata</option>
                                <option value="Goa">Goa</option>
                                <option value="Vijaywada">Vijaywada</option>
                                <option value="kerala">kerala</option>
                                <option value="Jammu">Jammu</option>
                                <option value="Gujarat">Gujarat</option>

                            </select>
                        </div>

                        <div class="form-group">
                            <label for="inputArrivalCity">To</label>
                            <select id="inputArrivalCity" class="form-control" name="arrivalCity" #arrivalCity='ngModel'
                                ngModel>
                                <option selected></option>
                                <option value="Mumbai">Mumbai</option>
                                <option value="Pune">Pune</option>
                                <option value="Bangalore">Bangalore</option>
                                <option value="Delhi">Delhi</option>
                                <option value="Visakhapatnam">Visakhapatnam</option>
                                <option value="Hyderabad">Hyderabad</option>
                                <option value="Kolkata">Kolkata</option>
                                <option value="Goa">Goa</option>
                                <option value="Vijaywada">Vijaywada</option>
                                <option value="kerala">kerala</option>
                                <option value="Jammu">Jammu</option>
                                <option value="Gujarat">Gujarat</option>
                                <!-- <option value="Srinagar">Srinagar</option> -->
                            </select>
                        </div>


                        <div class="form-group">
                            <label for="inputdepartureDate">Departure Date</label>
                            <input type="date" name="departureDate" class="form-control" #departureDate="ngModel"
                                ngModel id="inputdepartureDate" placeholder="Enter Departure Date">

                        </div>
                        <div class="btn-group float-right">
                            <button type="submit" class="btn btn-outline-primary"
                                [disabled]='searchForm.invalid'>Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>




    <div class="container mt-5" *ngIf="flights.statusCode == 210 ">
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>FNo</th>
                    <th>DepCity</th>
                    <th>ArrCity</th>
                    <th>Airline</th>
                    <th>DepDate</th>
                    <th>ArrDate</th>
                    <th>DepTime</th>
                    <th>ArrTime</th>
                    <th>FSeat</th>
                    <th>FSFare</th>
                    <th>BSeat</th>
                    <th>BSFare</th>
                    <th>Book</th>

                </tr>
            </thead>
            <tbody *ngIf="flights.statusCode == 210  && flights.searchFlight.length > 0">
                    <tr  *ngFor="let flight of flights.searchFlight">
                        <td>{{flight.flightNumber}}</td>
                        <td>{{flight.departureCity}}</td>
                        <td>{{flight.arrivalCity}}</td>
                        <td>{{flight.airline |titlecase}}</td>
                        <td>{{flight.departureDate}}</td>
                        <td>{{flight.arrivalDate}}</td>
                        <td>{{flight.departureTime}}</td>
                        <td>{{flight.arrivalTime}}</td>
                        <td>{{flight.firstClassSeats}}</td>
                        <td>{{flight.firstClassSeatFare |currency: 'INR'}}</td>
                        <td>{{flight.bussinessClassSeats}}</td>
                        <td>{{flight.bussinessClassFare |currency: 'INR'}}</td>
                        <td>
    
    
                            <!-- Button trigger modal -->
                            <button type="btn btn-danger" class="btn btn-primary" data-toggle="modal"
                                data-target="#exampleModalCenter" (click)='bookTicket(bookForm)'>
    
                            </button>
    
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalCenterTitle">Proceed Further ..!</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="card-body">
                                                <h4 class="card-title text-center">Book Ticket</h4>
    
                                                <form #bookForm='ngForm' (ngSubmit)='bookTicket(bookForm)'>
                                                    <div class="form-group">
                                                        <label for="flightNo">Flight Number</label>
                                                        <input type="text" name="flightNo" #flightNo='ngModel'
                                                            class="form-control" [(ngModel)]="flightNumber" placeholder="Enter flight number">
                                                    </div>
                                                    
                                                    <div class="form-group">
                                                        <label for="userId">User Id</label>
                                                        <input type="text" #userId='ngModel' ngModel name="userId"
                                                            required minlength="6" class="form-control"
                                                            placeholder="Enter User ID">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="departureCity">Departure City</label>
                                                        <input type="text" #departureCity='ngModel' ngModel
                                                            name="departureCity" class="form-control"
                                                            placeholder="Enter departureCity">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="arrivalCity">Arrival City</label>
                                                        <input type="text" #arrivalCity='ngModel' ngModel
                                                            name="arrivalCity" class="form-control"
                                                            placeholder="Enter arrivalCity">
                                                    </div>
    
                                                    <div class="form-group">
                                                        <label for="departureDate">Departure Date</label>
                                                        <input type="date" name="departureDate" class="form-control"
                                                            #departureDate='ngModel' [(ngModel)]="dDate" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="arrivalDate">Arrival Date</label>
                                                        <input type="date" name="arrivalDate" class="form-control"
                                                            #arrivalDate='ngModel' [(ngModel)]="aDate" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="departureTime">Departure Time</label>
                                                        <input type="time" name="departureTime" class="form-control"
                                                            #departureTime='ngModel' [(ngModel)]="dTime" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="arrivalTime">Arrival Time</label>
                                                        <input type="time" name="arrivalTime" class="form-control"
                                                            #arrivalTime='ngModel' [(ngModel)]="aTime">
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-6">
                                                            <label for="inputFirstName">FirstName</label>
                                                            <input type="FirstName" name="firstName" class="form-control"
                                                                #firstName='ngModel' ngModel placeholder="Enter First Name"
                                                                required>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label for="inputLastName">LastName</label>
                                                            <input type="lastName" name="lastName" class="form-control"
                                                                #lastName='ngModel' ngModel placeholder="Enter Last Name"
                                                                required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="passengers">No. of passengers</label>
                                                        <select id="passengers" class="form-control" name="passengers"
                                                            #passengers="ngModel" ngModel>
                                                            <option selected></option>
                                                            <option>1</option>
                                                            
                                                        </select>
                                                    </div>
    
                                                    <div class="form-group">
                                                        <label for="inputClassType">Choose Class</label>
                                                        <select id="inputClassType" class="form-control" name="classType"
                                                            #classType="ngModel" ngModel>
                                                            <option selected></option>
                                                            <option value="Bussiness">Bussiness</option>
                                                            <option value="First Class">First Class</option>
                                                        </select>
                                                    </div>
    
    
    
    
                                                    <button type="submit" class="btn btn-outline-dark"
                                                        [disabled]='bookForm.invalid'>Book Now</button>
                                                </form>
    
                                            </div>
                                        </div>
    
                                    </div>
                                </div>
                            </div>
                        </td>
    
                    </tr>
                
                
            </tbody>
        </table>
    </div>
    <div class="errormsg">
                <p *ngIf="flights.statusCode == 401">{{flights.description}}</p>
    </div>
</body>